{% extends 'base.html' %}
{% block content %}
<h1>Your Order History</h1>
<div class="row">
  {% for order in orders %}
  <div class="col-sm-12 mt-3">
    <div class="card tbd-bg-secondary">
      <div class="card-body">
        <h2 class="card-title">Order No. {{ order.id }} - <span class="h4">{{order.order_date}}</span></h2>
        <section class="card-text">
          <ul class="list-group">
            {% for item in order.order_detail_list %}
            <li class="tbd-flex list-group-item tbd-bg-secondary text-white border-dark">
              <p class="m-0">
                {{ item.quantity }} - {{ item.movie.name }}
              </p>
              <p class="m-0">
                {{ item.price }}
              </p>
            </li>
            {% endfor %}
          </ul>
          <p class="p-2 m-0 h3" style="text-align:right">Total - ${{ order.order_total }}</p>
        </section>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}