{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <title>Flixnet</title>
</head>
<body class="tbd-bg-primary tbd-text-primary">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="tbd-bg-secondary p-4 d-flex flex-column">
      <li>
        <a class="fs-4" href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <a class="fs-4" href="{% url 'search' %}">Search Movies</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="fs-4" href="{% url 'userprofile' user.id %}">Profile</a>
      </li>
      <li>
        <a class="fs-4" href="{% url 'user_orders' user.id %}">Order History</a>
      </li>
      <li>
        <a class="fs-4" href="{% url 'cart'%}">Cart</a>
      </li>
      <li>
        <a class="fs-4" href="{% url 'logout' %}">Log Out</a>
      </li>
      {% else %}
        <a class="fs-4" href="{% url 'login' %}">Log In</a>
        <a class="fs-4" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
  <nav class="navbar navbar-dark tbd-bg-secondary">
    <div class="container-fluid">
      <h2 class="tbd-text-company m-0">
        <a id="logo-link" href="{% url 'home' %}">Flixnet</a>
      </h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <main class="container p-4">
    {% block content%}
    {% endblock %}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>