@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400;700&display=swap');

:root {
  --tbd-bg-main: #222831;
  --tbd-bg-secondary: #393E46;
  --tbd-primary: #DB5C5D;
  --tbd-main-text: #FFFFFF;
  --tbd-semi-transparent: rgba(255,255,255, 0.3);
  --tbd-transparent: rgba(255,255,255, 0);
}

* {
  font-family: 'Lexend Deca', sans-serif;
}

p {
  line-height: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

.link-item:hover {
  color: var(--tbd-primary);
}

.tbd-text-danger {
  color: var(--tbd-danger) ;
}

.tbd-bg-primary {
  background-color: var(--tbd-bg-main);
}

.tbd-bg-secondary {
  background-color: var(--tbd-bg-secondary);
}

.tbd-text-primary {
  color: var(--tbd-main-text);
}

.tbd-company-primary {
  background-color: var(--tbd-primary);
  color: var(--tbd-main-text);
}

.tbd-text-company {
  color: var(--tbd-primary);
  letter-spacing: .2rem;
}

.tbd-primary-underline {
  border-bottom: 6px solid var(--tbd-primary) ;
}

.tbd-flex {
  display: flex;
  justify-content: space-between;
}

.tbd-search-width {
  max-width: 900px !important;
}

.cast span:not(:last-child):after { 
  content: " \2022";
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tbd-semi-transparent);
  border-radius: 8px;
}

img {
  aspect-ratio: 2 / 3;
  max-width: 100%;
}

.btn.tbd-company-primary {
  font-size: 1.4rem;
  padding: 0.4rem 1.5rem;
}

.form-control:focus {
  color: white;
  background-color: var(--tbd-bg-secondary);
}

.form-select {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

#detail-cart-button {
  margin-top: -2rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background-color: var(--tbd-transparent);
  }
}