{% extends 'base.html' %}
{% block content %}
  <h1>movie details</h1>
  <h1>{{ movie.original_title }}</h1>
  <img src="{{image_url}}{{movie.backdrop_path}}" alt="">
  <img src="{{image_url}}{{movie.poster_path}}" alt="">
  {% for person in credits %}
    <span>{{ person.name }} ||</span>
  {% endfor %}
  <form action="{% url 'add_to_cart' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{movie.id}}" name="movie_id">
    <input type="hidden" value="{{movie.original_title}}" name="movie_name">
    <button type="submit" value="Add To Cart">Add To Cart</button>
  </form>
{% endblock %}