{% extends 'base.html' %}
{% block content %}

<form action="{% url 'search' %}" method="GET">
  <div class="input-group mb-3">
    {% csrf_token %}
    <input name="search" type="text" class="form-control tbd-bg-secondary text-white rounded-start" placeholder="Search movies" aria-label="search"
      aria-describedby="button-addon2">
    <button name="submit" class="btn btn-outline-secondary" type="submit" id="button-addon2">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>
{% if movies %}
<div class="row">
  {% for movie in movies %}
  <div class="col-xl-3 col-lg-4 col-sm-6 col-6 p-2">
    <div class="card bg-transparent">
      <img class="rounded" src="{{image_url}}{{movie.poster_path}}" alt="{{ movie.original_title }}">
      <a href="{% url 'movie_detail' movie.id %}" class="stretched-link"></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}