{% extends 'base.html' %}
{% block content %}
  <form action="{% url 'search' %}" method="GET">
    {% csrf_token %}
    <input type="text" name="search">
    <input type="submit" name="submit" value="SearchXYZ">
  </form>
  {% if movies %}
    {% for movie in movies %}
    <a href="{% url 'movie_detail' movie.id %}">
      <article>
        <p>{{movie.original_title}}</p>
        <p>{{movie.id}}</p>
        <img src="{{image_url}}{{movie.poster_path}}" alt="">
      </article>
    </a>
    {% endfor %}
  {% endif %}
{% endblock %}